@import "tailwindcss";

:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
